<link rel="stylesheet" type="text/css" href="reset.css">
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  position:relative;
  margin: 0 auto;
  background-color: #d3d3d3;
  font-size: 26px;
  display: block;
}
div {
  margin: 0 auto;
  width: 100%;
  padding: 10px 0px;
  display: block
}
article h1 {
  text-align: center;
  font-size: 24px;
  font-family: system-ui, sans-serif;
  margin: 0 auto;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 100%;
  text-indent: 10px;
}
section div {
  width: 100%;
  min-height: 287px;
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 3%;
}
  .preview-baku {
    background-image: url(../images/baku.jpg);
    }
  .preview-london {
    background-image: url(../images/london.png);
    }
  .preview-madrid {
    background-image: url(../images/madrid.jpg);
    }
  .preview-rome {
    background-image: url(../images/rome.jpg);
    }
    /* code added to create two-column design (Tablet)*/
@media screen and (min-width: 900px){
   section div {
    margin-top, margin-bottom, margin-left, margin-right:5%;
    width: 100%;
    display:inline-grid;
    float: left;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .container {
    margin: 0 auto;
    width: 100%;
    text-indent: 10%;
    column-count: 2;
    column-gap: 1em;
  }
  article h1 {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
  }
}
/*code added to make four-column design (Laptop)*/
@media screen and (min-width: 991px){
   section div {
    width: 100%;
    display: inline-grid;
    float: left;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .container {
    margin: 0 auto;
    width: 1200px;
    text-indent: 10px;
    column-count: 4;
    column-gap: 1em;
  }
  article h1 {
      width: 1200px;
      padding-top: 30px;
      padding-bottom: 30px;
  }
}
